.title {
  font-size: 50px;
  text-align: start;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main {
  max-width: 88%;
  margin: 0 auto;
}
img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

p {
  font-size: 24px;
}

.sub-title {
  font-size: 30px;
  margin-top: 20px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* keep nav height from Bootstrap consistent */
.navbar {
  height: 110px;
  background: #275adb;
  background: linear-gradient(
    190deg,
    rgba(39, 90, 219, 1) 0%,
    rgba(98, 158, 222, 1) 63%,
    rgba(255, 255, 255, 1) 100%
  );
}

.air-container {
  width: 29%;
}

.full-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
h2 {
  text-align: center;
}
#variants {
  text-align: center;
}

ul {
  font-size: 25px;
}
.order {
  column-count: 3;
}

footer {
  background: #275adb;
  background: linear-gradient(
    190deg,
    rgba(39, 90, 219, 1) 0%,
    rgba(98, 158, 222, 1) 63%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 350px;
  text-align: center;
  padding: 40px;
  margin-top: 50px;
}

.footer-title {
  text-align: center;
  font-size: 30px;
}
.addition h1 {
  font-size: 18px;
}
.navbar-brand {
  font-size: 30px;
}
#content3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  display: none;
  background: #275adb;
  background: linear-gradient(
    190deg,
    rgba(39, 90, 219, 1) 0%,
    rgba(98, 158, 222, 1) 63%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 10vw;
}
#dropdown a {
  margin: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
}

#dropdown:hover #content3 {
  display: block;
}
#content3 hr {
  width: 80%;
  margin: 0 auto;
}
.embrear {
  width: 100%;
  break-inside: avoid;
  
}
.embrear:nth-child(1){
  order: 1; 
}
.embrear:nth-child(2){
  order: 2; 
}
.embrear:nth-child(3){
  order: 3; 
}
.embrear:nth-child(4){
  order: 7; 
}
.embrear:nth-child(2){
  order: 2; 
}
.embrear:nth-child(5){
  order: 5; 
}
.embrear:nth-child(6){
  order: 6; 
}
.embrear:nth-child(7){
  order: 4; 
}